In [7]:
def binsearch(data,key):
    awal = 1
    akhir = len(data)+1
    ketemu = False
    hitung = 0
    while (awal <= akhir) and not ketemu:
        hitung += 1
        tengah = int((awal+akhir)/2)
        if key == data[tengah]:
            ketemu = True
            print("data", key,"ditemukan di indeks ke", tengah)
        elif (key<data[tengah]):
            akhir = tengah - 1
        else:
            awal = tengah + 1
    if ketemu == False:
        print("data tidak ditemukan")
    print("Jumlah iterasi yang diperlukan:", hitung)

Amar

In [8]:
nama = ["Fadil", "Akmal", "Ronaldo", "Amar", "Messi", "Neymar", "Abdi Setiawan"]
for teman in nama:
    print(teman, end=' ')

Fadil Akmal Ronaldo Amar Messi Neymar Abdi Setiawan

In [9]:
nama = ["Fadil", "Akmal", "Ronaldo", "Amar", "Messi", "Neymar", "Abdi Setiawan"]
print('panjang list :', len(nama))

panjang list : 7

In [10]:
nama = ["Fadil", "Akmal", "Ronaldo", "Amar", "Messi", "Neymar", "Abdi Setiawan"]
nama[4] = "Dina"
print(nama)

['Fadil', 'Akmal', 'Ronaldo', 'Amar', 'Dina', 'Neymar', 'Abdi Setiawan']

In [11]:
# Membuat list kosong untuk menampung hobi
hobi = []
stop = False
i = 0
# Mengisi hobi
while(not stop):
    hobi_baru = input("Inputkan hobi yang ke-{}: ".format(i))
    hobi.append(hobi_baru)
    i += 1
    tanya = input("Mau isi lagi? (y/t): ")
    if(tanya == "t"):
        stop = True
# Cetak Semua Hobi
print ("=" * 10) 
print ("Kamu memiliki {} hobi".format(len(hobi)))
for hb in hobi: 
    print ("- 
    {}".format(hb))

SyntaxError: unterminated string literal (detected at line 17) (3687602652.py, line 17)

In [ ]:
x = 12
if x == 12:
    print("%d adalah bilangan genap" % x)

12 adalah bilangan genap

In [ ]:
for i in range(3, 0 , -1):
    print("Pyt %d hon " %i)

Pyt 3 hon
Pyt 2 hon
Pyt 1 hon

In [6]:
import math
math.pi

luas = math.pi * 2
print("Luasnya adalah %d, ya seperti itulah kira kira" %luas)

Luasnya adalah 6, ya seperti itulah kira kira

In [12]:
for i in range(1,4):
    print("Python %d" %i)

Python 1
Python 2
Python 3

In [13]:
i = 1
while (i<=5):
    print("Python %d" %i)
    i+=1

Python 1
Python 2
Python 3
Python 4
Python 5

In [21]:
n = int(input("Masukkan angka: "))
list(range(5,n,5))

[5, 10, 15]

In [1]:
import time
baris = 5
kolom = 4
for i in range(0, baris+1):
    print("ketika i=%d" %i)
    for j in range(0, kolom+1):
        print("[BARIS %d, KOLOM %d]" %(i,j),end=" ")
        time.sleep(1)
    print()

ketika i=0
[BARIS 0, KOLOM 0] [BARIS 0, KOLOM 1] [BARIS 0, KOLOM 2] [BARIS 0, KOLOM 3] [BARIS 0, KOLOM 4]
ketika i=1
[BARIS 1, KOLOM 0] [BARIS 1, KOLOM 1] [BARIS 1, KOLOM 2] [BARIS 1, KOLOM 3] [BARIS 1, KOLOM 4]
ketika i=2
[BARIS 2, KOLOM 0] [BARIS 2, KOLOM 1] [BARIS 2, KOLOM 2] [BARIS 2, KOLOM 3] [BARIS 2, KOLOM 4]
ketika i=3
[BARIS 3, KOLOM 0] [BARIS 3, KOLOM 1] [BARIS 3, KOLOM 2] [BARIS 3, KOLOM 3] [BARIS 3, KOLOM 4]
ketika i=4
[BARIS 4, KOLOM 0] [BARIS 4, KOLOM 1] [BARIS 4, KOLOM 2] [BARIS 4, KOLOM 3] [BARIS 4, KOLOM 4]
ketika i=5
[BARIS 5, KOLOM 0] [BARIS 5, KOLOM 1] [BARIS 5, KOLOM 2] [BARIS 5, KOLOM 3] [BARIS 5, KOLOM 4]

In [47]:
def tulis(s, n):
    for i in range(-2,n):
        print(s)

tulis("Alamak", 6)

Alamak
Alamak
Alamak
Alamak
Alamak
Alamak
Alamak
Alamak

In [52]:
class segiempat:
    def __init__(self, p, l):
        self.panjang = p
        self.lebar = l
    def luas(self):
        return self.panjang * self.lebar
    def keliling(self):
        return 2 * (self.panjang + self.lebar)

obj = segiempat(9,6)
obj.keliling()

30

In [60]:
data = [10,20,30]
try:
    x = data[int(input("Masukkan index keberapa yg ingin anda cari? "))]
except IndexError:
    print("Tidak ada indeks ke-3 didalam list data")
else:
    print("Nilai x adalah %d" %x)

Nilai x adalah 30

In [64]:
data = [10,20,30]
try:
    x = data[2]
except IndexError:
    print("Tidak anda indeks ke-2 di dalam list data")
else:
    print("Nilai x adalah %d" %x)
finally:
    print("Bagian finalisasi dipanggil")

Nilai x adalah 30
Bagian finalisasi dipanggil

In [67]:
a = [10,20,30]
a[1] = 50
print(a)

[10, 50, 30]

In [68]:
array = ["kemana", "21e2", 12039]
print(array)

['kemana', '21e2', 12039]

In [ ]:
daftarbuku = [
    ['454512541','python',700,2012]
]

In [71]:
a = [10,20,30]
a.append(50)
print(a)

[10, 20, 30, 50]

In [75]:
a = [10,40,11]
b = [90,12,35]
a.extend(b)
print(a)

[10, 40, 11, 90, 12, 35]

In [72]:
a = [10,20,30]
a.insert(1,50)
print(a)

[10, 50, 20, 30]

In [76]:
a = [10,40,11]
a.extend("Hay apa cincong")
print(a)

[10, 40, 11, 'H', 'a', 'y', ' ', 'a', 'p', 'a', ' ', 'c', 'i', 'n', 'g', 'c', 'o', 'n', 'g']

In [78]:
a = [10,20,30,40]
del a[2]
print(a)

[10, 20, 40]

In [80]:
a = [10,20,30,40]
a.remove(20)
print(a)

[10, 30, 40]

In [82]:
a = [10,20,30,40]
nilai = a.pop(1)
print(a)

[10, 30, 40]

In [83]:
a = [20,40,30,10,50,10,5,25]
b = sorted(a)
print(b)

[5, 10, 10, 20, 25, 30, 40, 50]

In [1]:
a = [96, 139, 112, 118, 94, 93, 142, 135,
136, 127, 88, 94, 132, 125, 119, 117, 107, 111, 143, 148, 127, 125, 125, 120,
117, 95, 155, 104, 103, 97, 113, 155,
106, 113, 156, 96, 103, 139, 124, 120,
108, 112, 134, 138, 89]
b = sorted(a)
print(b)

[88, 89, 93, 94, 94, 95, 96, 96, 97, 103, 103, 104, 106, 107, 108, 111, 112, 112, 113, 113, 117, 117, 118, 119, 120, 120, 124, 125, 125, 125, 127, 127, 132, 134, 135, 136, 138, 139, 139, 142, 143, 148, 155, 155, 156]

In [85]:
a = [20,40,30,10,50,10,5,25]
b = sorted(a, reverse=True)
print(b)

[50, 40, 30, 25, 20, 10, 10, 5]

In [84]:
a = [20,40,30,10,50,10,5,25]
a.sort()
print(a)

[5, 10, 10, 20, 25, 30, 40, 50]

In [86]:
a = [20,40,30,10,50,10,5,25]
a.sort(reverse=True)
print(a)

[50, 40, 30, 25, 20, 10, 10, 5]

In [88]:
a = [20,40,30,10,50,10,5,25]
a.reverse()
print(a)

[25, 5, 10, 50, 10, 30, 40, 20]

In [3]:
def reverse(a):
    temp = []
    for element in n[::-1]:
        temp.append(element)
    return temp
a = [50,10,40,20,30]
b = reverse(a)
print(b)
print(a)

[30, 20, 40, 10, 50]
[50, 10, 40, 20, 30]

In [5]:
def reverseList(lst):
    i = 0
    j = len(lst)-1
    while (j>1):
        temp = lst[i]
        lst[i] = lst[j]
        lst[j] = temp
        i += 1
        j -= 1

b = [20, 21, 33, 11, 31, 94, 10]
reverseList(b)
print(b)

[10, 94, 33, 11, 31, 21, 20]

In [8]:
a = [321, 3123, 32131, 33321, 333, 3123,32131,312312,3132,63456,52]
min(a)

52

In [10]:
a = [312, 3213,2132,311,414,122,4124,142,422,44,1241,4,21,4,21,4214]
min(a)

4

In [12]:
def minimumm(lst):
    try:
        return min(lst)
    except ValueError:
        print("Data tidak tersedia")

a = [123,213,22,3213,2,2223,12,1,23]
minimumm(a)

1

In [15]:
mahasiswa = [2200016103,"Abdi Setiawan", "B"]
nim, nama, kelas = mahasiswa
print(nim, nama, kelas)

2200016103 Abdi Setiawan B

In [31]:
mahasiswa = [2200016103,"Abdi Setiawan","082389105801","sumsel", "B"]
*nim, nama, kelas = mahasiswa
print(*nim)
print(nama)

2200016103 Abdi Setiawan 082389105801
sumsel

In [45]:
a = [10, 20, 30, 40, 50, 60]
b = a[:2]
print(b)

TypeError: 'list' object is not callable

In [48]:
t = (2132, 321,441, 4441, 41321, 41443)

minimum = min(t)
print("Nilai terkecil berada di indeks %d, dan memiliki nilai %d" % (minimum, t.index(minimum)))

TypeError: 'list' object is not callable

In [13]:
N = int(input("Masukkan berapa baris yang anda inginkan: "))

for i in range(N+1):
    for j in range(0, i):
        print((1 + j),end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [33]:
N = int(input("Masukkan berapa baris yang anda inginkan: "))

for i in range(N+1):
    for j in range(0, i):
        print((i), end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [47]:
kode_baju = int(input("Masukkan kode baju (1-5): "))
ukuran_baju = input("Masukkan ukuran baju (S/M): ")

harga_baju = 0
merk_baju = ""

for i in range(1,6):
    if kode_baju == i:
        if i == 1:
            merk_baju = "IMP"
            if ukuran_baju == "S":
                harga_baju = 200000
            elif ukuran_baju == "M":
                harga_baju = 220000
            else:
                harga_baju = 250000
        elif i == 2:
            merk_baju = "Prada"
            if ukuran_baju == "S":
                harga_baju = 150000
            elif ukuran_baju == "M":
                harga_baju = 160000
            else:
                harga_baju = 170000
        elif i == 3:
            merk_baju = "Gucci"
            if ukuran_baju == "S":
                harga_baju = 200000
            elif ukuran_baju == "M":
                harga_baju = 200000
            else:
                harga_baju = 200000
        elif i == 4:
            merk_baju = "Louis Vuitton"
            if ukuran_baju == "S":
                harga_baju = 300000
            elif ukuran_baju == "M":
                harga_baju = 300000
            else:
                harga_baju = 350000
        elif i == 5:
            merk_baju = "Kick Denim"
            if ukuran_baju == "S":
                harga_baju = 100000
            elif ukuran_baju == "M":
                harga_baju = 120000
            else:
                harga_baju = 130000
                
if harga_baju == 0:
    print("Kode baju tidak ditemukan!")
else:
    print("Anda memilih baju", merk_baju, "dengan ukuran", ukuran_baju, "seharga", harga_baju)

Anda memilih baju Kick Denim dengan ukuran XL seharga 130000